@import 'colors';


// Colors (from /themes/default/colors)
$h-white: #fff !default;
$h-black: #111 !default;
$h-primary: $blue !default;
$h-success: $green !default;
$h-warning: $orange !default;
$h-error: $red !default;
$h-dull: $gray !default;
