extends layout

block content

  main
    header
      div
        h1 Horus CSS
        p.slogan Just another CSS library

        p
          a.github(href="https://github.com/thiago-rezende/horus-css" target="_blank") GitHub
