doctype html
html(lang="en")
  head
    block title
      title Horus CSS
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="keywords" content="css, library, horus, library, sass")
    meta(name="description" content="Just another CSS library")
    link(rel='stylesheet' href='css/horus.min.css')
    //- link(rel="icon", href="/img/basket.png", type="image/png")
    block head
  body
    nav
      a(href="/")
        span Horus CSS

    block content
