extends layout

block title
  title Horus CSS Testing

block content

  main
    h1 Testing Horus CSS

    p A small testing page to see how elements behave across devices

    include ../tests/tests.html
